body{
    font-family: Montserrat;

    background-color: #C49F66;
    color: #2E3336;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Barlow;
    font-size:40pt;
}

header {
    text-align: center;
}

#hero, footer {
    color:#2E3336;
    border: 5px solid #486E8B;
    background-color: #836C49;
    text-align:center;
    padding:10px;
}

#hero img {
    width:300px;
}

#bio {
    text-align: center;
}

