body{
    font-family: Montserrat;

    background-color: #C49F66;
    color: #141414;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Barlow;
    font-size:40pt;
    color: #141414;
    text-align:center;
}

header {
    text-align: center;
}

#hero, footer {
    color:#141414;
    border: 5px solid #486E8B;
    background-color: #AD9063;
    text-align:center;
    padding:10px;
}

/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align: center;
}

/* Hobbies */

#hobbies ul, li {
    list-style-type: square;
    list-style-position: inside;
    text-align: center;
    color:#182936;
    line-height: 1.5;
    font-weight: bold;
}

/* Gallery */

#gallery {
    border: 5px dashed #486E8B;
    background-color: #AD9063;
}

#gallery img {
    max-width: 75%;
    max-height: 75%;
}

#gallery figure {
    text-align: center;
}
